@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#navbar-title{
  color: theme("colors.blue-2")
}

#navbar-title:hover{
  color: theme("colors.blue-1")
}

.container-body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 10px;
}

.card-container{
  background-color: theme("colors.blue-2");
  position: relative;
  width: 400px;
  height: 100px;
  border-radius: 8px;
  padding: 5px;
}

#populate-button, #add-new-url-button{
  display: inline-block;
  background-color: theme("colors.blue-1");
  color: theme("colors.white");
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
  margin: 0 auto;
}

#populate-button{
  background-color: theme("colors.blue-1");
}

#populate-button:hover{
  background-color: theme("colors.blue-3");
}

#add-new-url-button{
  background-color: theme("colors.yellow-1");
}

#add-new-url-button:hover{
  background-color: theme("colors.yellow-2");
}

.url-container{
  height: 25%;
  background-color: white;
  color: grey;
  border-radius: 5px;
  padding: 2px;
  font-size: 12px;
}

#url-link-button{
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
  margin-top: 0.25rem;
  right: 5px;
  position: absolute;
}

#url-link-button:hover{
  background-color: theme("colors.yellow-2");
  border: 0px;
}

.add-card-container{
  background-color: theme("colors.yellow-1");
  position: relative;
  width: 400px;
  height: 100px;
  border-radius: 8px;
  padding: 5px;
  margin-top: 10px;
}

#add-url-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.url-input{
  height: 25%;
  color: grey;
  border-radius: 5px;
  padding: 2px;
  font-size: 12px;
}

.url-label{
  color: white;
  font-size: 14px;
  margin-right: 5px;
}

#url-link-input{
  width: 250px;
}
