@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#navbar-title{
  color: theme("colors.blue-2")
}

#navbar-title:hover{
  color: theme("colors.blue-1")
}

.container-body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.card-container{
  background-color: theme("colors.grey-1");
  position: relative;
  height: 400px;
  width: 320px;
  border-radius: 8px;
}

#populate-button{
  position: relative;
  background-color: theme("colors.blue-1");
  color: theme("colors.white");
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
}
